# Oracle Cloud Infrastructure Secrets

OCI_TENANCY_OCID=ocid1.tenancy.oc1..aaaaaaaa...
OCI_USER_OCID=ocid1.user.oc1..aaaaaaaa...
OCI_FINGERPRINT=xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx
OCI_PRIVATE_KEY=|
  -----BEGIN PRIVATE KEY-----
  MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC...
  -----END PRIVATE KEY-----
OCI_REGION=us-ashburn-1
OCI_COMPARTMENT_ID=ocid1.compartment.oc1..aaaaaaaa...

# SSH Key (public key)
SSH_PUBLIC_KEY=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC... user@hostname

# Database Password
DB_ADMIN_PASSWORD=YourSecurePassword123!
